[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
unidecode = "*"
djangorestframework-simplejwt = "*"
django-rest-passwordreset = "*"
gunicorn = "*"
celery = "*"
redis = "*"
flower = "*"
pydub = "*"
feedparser = "*"
paramiko = "*"
requests = "*"

[requires]
python_version = "3.8"
