[Servers]
UploadServer.ip = 
UploadServer.username = 
UploadServer.password = 
UploadServer.rootUploadDirectory = 

ArchiveServer.ip = 
ArchiveServer.username = 
ArchiveServer.password = 
ArchiveServer.rootUploadDirectory = 

[AppSettings]
SecretKey =
Debug = True
LanguageCode = en-us
TimeZone = UTC
UseI18N = True
UseL10N = True
UseTZ = True
