# Don't use quotes for the fields!
[Servers]
UploadServer.ip = 
UploadServer.username = 
UploadServer.password = 
UploadServer.rootUploadDirectory = 

ArchiveServer.ip = 
ArchiveServer.username = 
ArchiveServer.password = 
ArchiveServer.rootUploadDirectory = 

[Email]
EmailHost =
EmailHostUser =
EmailHostPassword =
EmailPort = 587
EmailTLS = True
AdminEmail =

[AppSettings]
SecretKey =
Debug = True
LanguageCode = en-us
TimeZone = UTC
UseI18N = True
UseL10N = True
UseTZ = True
